USE [master]
GO
/****** Object:  Database [IMS_NEW]    Script Date: 4/30/2026 3:33:27 PM ******/
CREATE DATABASE [IMS_NEW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IMS_NEW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\IMS_NEW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IMS_NEW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\IMS_NEW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IMS_NEW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IMS_NEW]
GO
/****** Object:  Table [dbo].[Tbl_Businesses]    Script Date: 4/30/2026 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Businesses](
	[BusinessId] [int] IDENTITY(1,1) NOT NULL,
	[BusinessName] [nvarchar](100) NOT NULL,
	[SubscriptionTier] [varchar](50) NULL,
	[OwnerId] [int] NOT NULL,
 CONSTRAINT [PK__Tbl_Busi__F1EAA36EEC53DBFB] PRIMARY KEY CLUSTERED 
(
	[BusinessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_CustomerPrices]    Script Date: 4/30/2026 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_CustomerPrices](
	[CustomerPriceId] [int] IDENTITY(1,1) NOT NULL,
	[BusinessId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[InventoryId] [int] NOT NULL,
	[SellPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerPriceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Customers]    Script Date: 4/30/2026 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[BusinessId] [int] NOT NULL,
	[CustomerName] [nvarchar](50) NOT NULL,
	[Phone] [varchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[TotalItems] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_CustomerSummary]    Script Date: 4/30/2026 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_CustomerSummary](
	[SummaryId] [int] IDENTITY(1,1) NOT NULL,
	[BusinessId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[TotalPurchased] [decimal](18, 2) NULL,
	[OutstandingBalance] [decimal](18, 2) NULL,
	[LastTransactionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SummaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Inventories]    Script Date: 4/30/2026 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Inventories](
	[InventoryId] [int] IDENTITY(1,1) NOT NULL,
	[BusinessId] [int] NOT NULL,
	[InventoryName] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[DeleteFlag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_InventorySummary]    Script Date: 4/30/2026 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_InventorySummary](
	[SummaryId] [int] IDENTITY(1,1) NOT NULL,
	[BusinessId] [int] NOT NULL,
	[InventoryId] [int] NOT NULL,
	[CurrentStock] [int] NULL,
	[LastUpdated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SummaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Reports]    Script Date: 4/30/2026 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Reports](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[BusinessId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ReportDate] [datetime] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[Remarks] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_UserBusinesses]    Script Date: 4/30/2026 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_UserBusinesses](
	[UserId] [int] NOT NULL,
	[BusinessId] [int] NOT NULL,
	[Role] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[BusinessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Users]    Script Date: 4/30/2026 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[DeleteFlag] [bit] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__Tbl_User__1788CC4CE2DC8A5F] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Tbl_User__A9D10534EAB8CDCF] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_UserTokens]    Script Date: 4/30/2026 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_UserTokens](
	[TokenId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RefreshToken] [nvarchar](500) NOT NULL,
	[IsRevoked] [bit] NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[TokenHash] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK__Tbl_User__658FEEEABCF98299] PRIMARY KEY CLUSTERED 
(
	[TokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Vouchers]    Script Date: 4/30/2026 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Vouchers](
	[VoucherId] [int] IDENTITY(1,1) NOT NULL,
	[BusinessId] [int] NOT NULL,
	[ReportId] [int] NOT NULL,
	[InventoryId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[SellPrice] [decimal](18, 2) NOT NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tbl_Customers_BusinessId]    Script Date: 4/30/2026 3:33:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tbl_Customers_BusinessId] ON [dbo].[Tbl_Customers]
(
	[BusinessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tbl_Inventories_BusinessId]    Script Date: 4/30/2026 3:33:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tbl_Inventories_BusinessId] ON [dbo].[Tbl_Inventories]
(
	[BusinessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tbl_Reports_BusinessId]    Script Date: 4/30/2026 3:33:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tbl_Reports_BusinessId] ON [dbo].[Tbl_Reports]
(
	[BusinessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tbl_Vouchers_ReportId]    Script Date: 4/30/2026 3:33:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tbl_Vouchers_ReportId] ON [dbo].[Tbl_Vouchers]
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_Businesses] ADD  CONSTRAINT [DF__Tbl_Busin__Subsc__403A8C7D]  DEFAULT ('Free') FOR [SubscriptionTier]
GO
ALTER TABLE [dbo].[Tbl_Customers] ADD  DEFAULT ((0)) FOR [TotalItems]
GO
ALTER TABLE [dbo].[Tbl_CustomerSummary] ADD  DEFAULT ((0)) FOR [TotalPurchased]
GO
ALTER TABLE [dbo].[Tbl_CustomerSummary] ADD  DEFAULT ((0)) FOR [OutstandingBalance]
GO
ALTER TABLE [dbo].[Tbl_Inventories] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_InventorySummary] ADD  DEFAULT ((0)) FOR [CurrentStock]
GO
ALTER TABLE [dbo].[Tbl_InventorySummary] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Tbl_Reports] ADD  DEFAULT (getdate()) FOR [ReportDate]
GO
ALTER TABLE [dbo].[Tbl_Reports] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Tbl_UserBusinesses] ADD  DEFAULT ('Owner') FOR [Role]
GO
ALTER TABLE [dbo].[Tbl_Users] ADD  CONSTRAINT [DF__Tbl_Users__Creat__38996AB5]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tbl_UserTokens] ADD  CONSTRAINT [DF__Tbl_UserT__IsRev__3B75D760]  DEFAULT ((0)) FOR [IsRevoked]
GO
ALTER TABLE [dbo].[Tbl_UserTokens] ADD  CONSTRAINT [DF__Tbl_UserT__Creat__3C69FB99]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tbl_CustomerPrices]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_CustomerPrices_Business] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[Tbl_Businesses] ([BusinessId])
GO
ALTER TABLE [dbo].[Tbl_CustomerPrices] CHECK CONSTRAINT [FK_Tbl_CustomerPrices_Business]
GO
ALTER TABLE [dbo].[Tbl_CustomerPrices]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_CustomerPrices_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Tbl_Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Tbl_CustomerPrices] CHECK CONSTRAINT [FK_Tbl_CustomerPrices_Customer]
GO
ALTER TABLE [dbo].[Tbl_CustomerPrices]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_CustomerPrices_Inventory] FOREIGN KEY([InventoryId])
REFERENCES [dbo].[Tbl_Inventories] ([InventoryId])
GO
ALTER TABLE [dbo].[Tbl_CustomerPrices] CHECK CONSTRAINT [FK_Tbl_CustomerPrices_Inventory]
GO
ALTER TABLE [dbo].[Tbl_Customers]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Customers_Business] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[Tbl_Businesses] ([BusinessId])
GO
ALTER TABLE [dbo].[Tbl_Customers] CHECK CONSTRAINT [FK_Tbl_Customers_Business]
GO
ALTER TABLE [dbo].[Tbl_CustomerSummary]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_CustSummary_Business] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[Tbl_Businesses] ([BusinessId])
GO
ALTER TABLE [dbo].[Tbl_CustomerSummary] CHECK CONSTRAINT [FK_Tbl_CustSummary_Business]
GO
ALTER TABLE [dbo].[Tbl_CustomerSummary]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_CustSummary_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Tbl_Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Tbl_CustomerSummary] CHECK CONSTRAINT [FK_Tbl_CustSummary_Customer]
GO
ALTER TABLE [dbo].[Tbl_Inventories]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Inventories_Business] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[Tbl_Businesses] ([BusinessId])
GO
ALTER TABLE [dbo].[Tbl_Inventories] CHECK CONSTRAINT [FK_Tbl_Inventories_Business]
GO
ALTER TABLE [dbo].[Tbl_InventorySummary]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_InvSummary_Business] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[Tbl_Businesses] ([BusinessId])
GO
ALTER TABLE [dbo].[Tbl_InventorySummary] CHECK CONSTRAINT [FK_Tbl_InvSummary_Business]
GO
ALTER TABLE [dbo].[Tbl_InventorySummary]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_InvSummary_Inventory] FOREIGN KEY([InventoryId])
REFERENCES [dbo].[Tbl_Inventories] ([InventoryId])
GO
ALTER TABLE [dbo].[Tbl_InventorySummary] CHECK CONSTRAINT [FK_Tbl_InvSummary_Inventory]
GO
ALTER TABLE [dbo].[Tbl_Reports]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Reports_Business] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[Tbl_Businesses] ([BusinessId])
GO
ALTER TABLE [dbo].[Tbl_Reports] CHECK CONSTRAINT [FK_Tbl_Reports_Business]
GO
ALTER TABLE [dbo].[Tbl_Reports]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Reports_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Tbl_Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Tbl_Reports] CHECK CONSTRAINT [FK_Tbl_Reports_Customer]
GO
ALTER TABLE [dbo].[Tbl_UserBusinesses]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_UserBusinesses_Businesses] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[Tbl_Businesses] ([BusinessId])
GO
ALTER TABLE [dbo].[Tbl_UserBusinesses] CHECK CONSTRAINT [FK_Tbl_UserBusinesses_Businesses]
GO
ALTER TABLE [dbo].[Tbl_UserBusinesses]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_UserBusinesses_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Tbl_Users] ([UserId])
GO
ALTER TABLE [dbo].[Tbl_UserBusinesses] CHECK CONSTRAINT [FK_Tbl_UserBusinesses_Users]
GO
ALTER TABLE [dbo].[Tbl_UserTokens]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_UserTokens_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Tbl_Users] ([UserId])
GO
ALTER TABLE [dbo].[Tbl_UserTokens] CHECK CONSTRAINT [FK_Tbl_UserTokens_Users]
GO
ALTER TABLE [dbo].[Tbl_Vouchers]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Vouchers_Business] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[Tbl_Businesses] ([BusinessId])
GO
ALTER TABLE [dbo].[Tbl_Vouchers] CHECK CONSTRAINT [FK_Tbl_Vouchers_Business]
GO
ALTER TABLE [dbo].[Tbl_Vouchers]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Vouchers_Inventory] FOREIGN KEY([InventoryId])
REFERENCES [dbo].[Tbl_Inventories] ([InventoryId])
GO
ALTER TABLE [dbo].[Tbl_Vouchers] CHECK CONSTRAINT [FK_Tbl_Vouchers_Inventory]
GO
ALTER TABLE [dbo].[Tbl_Vouchers]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Vouchers_Report] FOREIGN KEY([ReportId])
REFERENCES [dbo].[Tbl_Reports] ([ReportId])
GO
ALTER TABLE [dbo].[Tbl_Vouchers] CHECK CONSTRAINT [FK_Tbl_Vouchers_Report]
GO
USE [master]
GO
